body {
    margin: 0;
    padding: 0;
}

ul {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li {
    list-style: none;
    width: 80px;
    height: 80px;
    background: #262626;
    margin: 0 5px;
    border-radius: 50%;
    transition: .5s;
}

ul li:hover {
    background: #0070ff;
}

ul li span {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    transition: .5s;
}